.halfbackground {
  display: none;
}

.navbar {
  background: #ffd4d0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* .navbar.scroll {

} */

.nav-container {
  display: flex;
  flex-flow: row;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  padding-inline: 124px;
  margin: 0 auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  list-style: none;
  grid-gap: 32px;
}

.nav-links {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: 600;
}

.menu-icon {
  display: none;
}
.btn-mobile{
  display: none;
}

@media screen and (max-width: 967px) {
  .nav-container {
    padding-inline: 64px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    height: 90vh;
    transition:all 1s ease;
  }
  .nav-menu.active {
    background: #1f1f1f;
    left: 0;
    opacity: 1;

    transition:all 1s ease;
    z-index: 1;
    display: flex;
    padding-top: 20px;
  }

  .nav-links{
    padding: 10px;
    color: #fff;
  }
  .menu-icon {
    display: block;
  }
 .fa-times, .fa-bars{
  font-size: 1.5rem;
 }
 
}


@media screen and (max-width: 512px) {


  .nav-container {
    padding-inline: 16px;
  }
}