.services {
  background: #fff;
  width: 100%;
}

.services-container {
  max-width: 1440px;
  padding: 64px 124px;
  margin: 0 auto;
}
.services-header {
  text-align: center;
  /* padding:0 124px; */
}

.services-header p {
  color: var(--Dark, #1f1f1f);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-top: 24px;
}



/* Services.css */

.services-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 32px;
  gap: 32px;

}

.servicescard {
max-width: 274px;
width: 274px;
height: 241px;

}

.card--icon img {
  width: 50px; 
  height: 50px; 
  object-fit: contain;
}

.card--title {
  font-size: 1.5rem;
  margin-top: 10px;
}

.card--text {
  font-size: 1rem;
  margin-top: 10px;
}



@media screen and (max-width: 1023px) {
  .services-container{
    padding: 64px 64px;
  }
 
  .services-wrapper{
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 768px) {
  .services-header p{
    text-align: left;
    font-size: 18px;
  }
  .services-header h1{
    font-size: 22px;
    text-align: left;
  }
  .services-container{
    padding-inline: 32px;
  }
  .services-container h2{
    font-size: 20x;
  }
  .services-wrapper {
    gap: 5px;
  }
}

@media screen and (max-width: 512px) {

  .services-container{
    padding-inline: 16px;
    
  }
  .services-container h2{
    font-size: 18px;
  }

  .services-header p{
    text-align: left;
    font-size: 16px;
  }
  .services-header h1{
    font-size: 20px;
  }
}